.download {
    position: relative;
    background-color: $bg-2;

    &__container {
        @include container;
    }

    &__wrapper {

        display: flex;
        justify-content: flex-end;
    }

    &__image {
        position: absolute;
        top: 64px;
        bottom: -47px;
        left: 220px;
    }

    &__content {
        max-width: 54%;
        padding: 90px 0 150px 0;

        .content {
            &__text {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 31px;
            }

            &__title {
                @include review-title;
                font-size: 44.2px;
                line-height: 52px;
            }
            &__description{
                @include description;
            }
        }
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .list{
            &__item{
                display: flex;
                align-items: center;
                gap: 18px;
            }
            &__title{
                font-family:$roboto;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: $black;
            }
            &__svg{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background: #FFFFFF;
                border-radius: 3px;
              
            }
        
        }
    }
    &__app{
        margin-top: 41px;
        display: flex;
        align-items: center;
        gap: 7px;
        .app{
            &__item{
                cursor: pointer;
                transition: transform 0.8s ease  ;
                &:hover{
               transform: scale(1.1);  }            }
        }
    }
}