// colors
$bg: #F2CEDA;
$bg-2:#F8EDF0;
$border:#D64374;
$dark-pink: #D23166;

$text-color:#150101;
$black:#000000;
$black-text:#0F0101;

$white-text: #FAFAFA;
$white:#FFFFFF;

// font-family
$roboto:'Roboto', sans-serif;
$hindmadurai: 'Hind Madurai', sans-serif;
$fredoka: 'Fredoka One', cursive;
